<launch>
  <param name="robot_description" textfile="$(find robot_state_publisher)/test/one_link.urdf" />

  <node pkg="robot_state_publisher" name="one_link_state_pub" type="robot_state_publisher">
  </node>

  <test test-name="test_one_link" pkg="robot_state_publisher" type="test_one_link" />
</launch>
