<launch>

  <param name="robot_description"
       textfile="$(find robot_state_publisher)/test/two_links_fixed_joint.urdf" />

  <node pkg="robot_state_publisher" name="two_links_fixed_joints_pub" type="robot_state_publisher" output="screen">
  </node>

  <test test-name="test_two_links_fixed_joint" pkg="robot_state_publisher" type="test_two_links_fixed_joint" />
</launch>
